.banner {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cart-banner {
    background-image: url("../assets/cart_banner.jpg");
    background-position: bottom;
}

.wishlist-banner {
    background-image: url("../assets/wishlist-banner.jpg");
    background-position: top;
}

.empty-message {
    font-size: 23px;
    text-align: center;
    padding: 50px;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;
    margin: 20px 0;
}

.wishlist-icon {
    color: red;
}

.section-p1 {
    overflow-x: auto;
    padding: 10px 6%;
}

.section-p1 table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    border: 2px solid black;
}

.section-p1 table img {
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 23%;
    padding-bottom: 10px;
}
.section-p1 table td:nth-child(1),
.section-p1 table td:nth-child(2),
.section-p1 table td:nth-child(3),
.section-p1 table td:nth-child(4),
.section-p1 table td:nth-child(5),
.section-p1 table td:nth-child(6) {
    width: 150px;
    text-align: center;
}
.section-p1 table td:nth-child(3) {
    width: 300px;
    word-wrap: break-word;
}
.section-p1 table td:nth-child(5) input,
.section-p1 table td:nth-child(6) input {
    width: 50px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 10%;
}
.section-p1 table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 0;
}

.section-p1 table tbody tr td {
    padding-top: 15px;
}

.section-p1 table tbody tr td a {
    color: red;
    font-size: 30px;
}

.section-p1 table tbody td {
    font-size: 15px;
    font-weight: 600;
}

.section-p2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 6%;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
    
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
}

#subtotal {
    width: 50%;
    margin-bottom: 20px;
    padding: 30px 50px;
}
#subtotal h3{
    font-size: 20px;
    font-weight: 700;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
}

#subtotal table td {
    width: 50%;
    padding: 10px 0;
    font-size: 18px;
}

@media (max-width: 477px) {
    #cart-add {
        flex-direction: column;
    }
    #coupon,
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}
