.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 6%;
    background:#e3e6f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    transition: 0.5s;

}

.navbar-header.navbar-sticky {
    background: #e3e6f3;
    box-shadow: 0.1rem 0.1rem var(--shadow-color);
}

.navbar-logo {
    font-size: 25px;
    color: var(--black-color);
    font-weight: bolder;
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: rgb(180, 211, 255);
}

.navbar-link {
    font-size: 15px;
    font-weight: 600;
}

.navbar-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar-profile .icon-link i {
    font-size: 18px;
}

.navbar-profile-section {
    display: none;
}

.navbar-profile-section .icon-link{
    font-size: 1.5rem;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.navbar-profile-section .icon-link i {
    font-size: 22px;
}

.navbar-profile-section a:hover {
    background: var(--black-color);
}

.navbar-login-button {
    color: #fff;
    padding: 3px 10px;
    background-color: var(--main-color); 
    transition: background-color 0.3s ease; 
    border-radius: 8px;
    border: 1px solid transparent;
}

.navbar-login-button:hover {
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.navbar-menu-icon {
    font-size: 1.5rem;
    color: var(--main-color);
    display: none;
}

@media (max-width: 768px) {
    .navbar-logo {
        font-size: 1.8rem;
    }
    .navbar-link {
        font-size: 1.2rem;
        color: black;
        font-weight: 600;
    }
    .navbar-profile a {
        width: 2.8rem;
        height: 2.8rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 1024px) {
    .navbar-menu-icon {
        display: block;
    }
    #nav-menu {
        padding: 7px 5%;
    }
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        width: 100%;
        left: 0;
        background-color: var(--white-color);
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        text-align: center;
        color: black;
        gap: 15px;
    }
    .navbar.navbar-expanded {
        display: flex;
    }
    .navbar-profile.navbar-expanded {
        display: none;
    }
    .navbar-profile {
        display: none;
    }
    .navbar-profile-section {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .navbar-header {
        padding: 5px 5%;
    }
    .navbar-logo, .navbar-profile {
        margin: 0;
    }
}
